<h1>DETECTOR DE FAKE NEWS</h1>

<div id="imageLeft">
    <img src="assets\images\npLeft.jpg" alt="foto izquierda" height="712" width="450">
</div>

<div id="imageRight">
    <img src="assets\images\npRight.jpg" alt="foto derecha" height="712" width="450">
</div>

<h2>Analiza una noticia y descubre si es verdadera o falsa</h2>

<div id="cab">
    Las Fake News son noticias falsas hechas de forma consciente para tratar de engañar o confundir al lector. Con este software se puede comprobar, con un alto grado de precisión, si 
    una noticia es verdadera o falsa. Tan solo introduce el enlace de la noticia (en inglés) dentro del recuadro y, si es un enlace válido, te mostrará su fiabilidad.
</div>

<div>
    <form onsubmit="return false">
        <div id="enlace">
            <h3>Insertar enlace de la noticia:</h3>
            <label for="enlace"></label>
            <input type="text" id="cuadroenlace" placeholder="https://www.examplenewspaper.com/2022/05/19/world/asia/abortion-lord-matthew-hale.html" required>
        </div>

        <div id="radioB">
            
            <button (click)="showExplicacion()" type="submit" id="info1" formnovalidate><b><i>i</i></b></button>

            <h2 id="selecmod">Selecciona tu modelo:</h2>
            <div id="radio">

                <input type="radio" id="model1" name="model" required>
                <label for="model1">SVC lineal</label>
                <br/>
                
                <input type="radio" id="model2" name="model" required>
                <label for="model2">Simple neural</label>
                <br/>

                <input type="radio" id="model3" name="model" required>
                <label for="model3">Deep learning</label>
                <br/>

                <input type="radio" id="model4" name="model" required>
                <label for="model4">Transformer neural network</label>
                <br/>

            </div>
            <div>
                <button (click)="showMessage()" type="submit" id="botonenlace">Analizar</button>
            </div>
        </div>
    </form>
</div>

<div id="messages">

    <form>
        <div id="trueMessage">
            <p>Analizado.</p>
            <p>La noticia introducida es verdadera.</p>
            <button type="submit" id="aceptarT">Aceptar</button>
        </div>

        <div id="falseMessage">
            <p>Analizado.</p>
            <p>La noticia introducida es falsa.</p>
            <button type="submit" id="aceptarF">Aceptar</button>
        </div>
        
        <div id="errorMessage">
            <p>Error.</p>
            <p>El enlace introducido no es válido.</p>
            <button type="submit" id="aceptarE">Aceptar</button>
        </div>

    </form>
    
</div>

<div id="explain">
    <button (click)="showExplicacion()" type="submit" id="info2" formnovalidate><b>X</b></button>
    <div id="textoExplain">
        <p>
            SVC: El "Support Vector Classifier" es un clasificador binario. Este funciona con un algoritmo de aprendizaje automático supervisado utilizado para 
            clasificar datos en dos o más categorías.
        </p>
        <p>
            Red neuronal simple: Una red neuronal simple puede utilizarse para clasificar noticias como verdaderas o falsas basándose en características específicas. 
            Sin embargo, es probable que no tenga la capacidad suficiente para identificar patrones muy complejos y sutiles.
        </p>
        <p>
            Red neuronal compleja (Deep learning): Una red neuronal compleja, también conocida como deep learning, es una evolución de las redes neuronales simples. 
            Puede procesar una gran cantidad de datos y aprender características con cierta complejidad y sutileza que pueden indicar una noticia falsa.
        </p>
        <p>
            Red neuronal transformer: Una red neuronal transformer puede procesar secuencias de texto y aprender patrones en el lenguaje que puedan indicar una noticia falsa. 
            Puede ser entrenada para identificar el lenguaje engañoso y las tácticas comunes utilizadas en las noticias falsas.
        </p>
    </div>
</div>

<div id="footer">
    <footer>
        <p>Author: Alvaro Brea Arjona</p>
        <p class="copyright">© FakeNews Detector 2023</p>
    </footer>
</div>